<!-- style=========== -->
<div style="color: red; font-size: 16px">
  Ini adalah teks berwarna merah dengan ukuran font 16px.
</div>

<div [style.color]="myColorExpression">Warna ini diikat dari komponen.</div>

<div [class.error]="isError">
  Ini adalah teks yang dapat memiliki kelas CSS 'error'.
</div>

<div [ngStyle]="{ color: textColor, 'font-size': fontSize + 'px' }">
  Teks ini berubah warna dan ukuran font.
</div>

<!-- hooks trick -->
<!-- loop -->
<div *ngFor="let book of arrData">
  <h1 class="text-3xl font-bold text-blue-400 underline">{{ book.name }}</h1>
</div>

<!-- hooks -->
<div
  class="w-[100px] h-[100px]"
  [ngClass]="{ 'bg-blue-500': active, 'bg-red-500': !active }"
></div>
<button (click)="handleClick()">click</button>
<br />

<input type="text" placeholder="name" (input)="inputUser1($event)" />
<!-- input onchange  -->
<br />
<input type="text" placeholder="name" (blur)="inputUser2($event)" />
<!-- input unafter focus  -->
